@page
@model PeakyBarbers.Web.Pages.Services.ServiceListModel

@{
    ViewData["Title"] = "Services List";
}

<h1>Our Services</h1>

@if (User.IsInRole("Admin"))
{
<p>
    <a class="btn btn-primary" asp-page="ServiceCreate">Create New Service</a>
</p>
}

<table class="table" id="servicesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceList[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceList[0].ServiceFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceList[0].ApproximateServiceDurationInMinutes)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            }

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ServiceList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.ServiceFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApproximateServiceDurationInMinutes) mins
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td class="col-2 mx-5 text-nowrap">
                        <a class="btn btn-warning" asp-page="ServiceEdit" asp-route-id="@item.Id">Edit</a>
                    </td>

                    <td class="col-2 mx-5 text-nowrap">
                        <a class="btn btn-danger" asp-page="ServiceDelete" asp-route-id="@item.Id">Delete</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
            //$(document).ready(function () {
            //    $("#servicesTable").dataTable();
            //});
    </script>
}