@page
@model PeakyBarbers.Web.Pages.Services.ServiceListModel

@{
    ViewData["Title"] = "Services List";
}

<h1>Our Services</h1>

<p>
    @* TODO: Restrict for Admin Barbers*@
    <a asp-page="ServiceCreate">Create New Service</a>
</p>


<table class="table" id="servicesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceList[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceList[0].ServiceFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceList[0].ApproximateServiceDurationInMinutes)
            </th>
            @* TODO: Restrict for Admin Barbers*@
            <th>
                Edit
            </th>
            @* TODO: Restrict for Admin Barbers*@
            <th>
                Delete
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ServiceList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.ServiceFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApproximateServiceDurationInMinutes) mins
                </td>
                <td class="text-nowrap">
                    <a asp-page="ServiceEdit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td class="text-nowrap">
                    <a asp-page="ServiceDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        //$(document).ready(function () {
        //    $("#filmTable").dataTable();
        //});
    </script>
}